<%= form_with(model: drug) do |f| %>

  <%= render "shared/errors", object: drug %>

  <div>
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div>
    <%= f.label :registration_no %>
    <%= f.text_field :registration_no, autofocus: true %>
  </div>
  
  <div>
    <%= f.submit %>
  </div>
<% end %>