<h4>Search for drug:</h4>
<%= form_with(url: drugs_path, method: "GET") do |form| %>
  <%= form.label :query, "Search:" %>
  <%= form.text_field :query %>
  <%= form.submit 'Search', name: nil %>
<% end %>

<%= render @drugs %>

<% if user_signed_in? %>
    <div>
        <%= button_to "Add New Drug", new_drug_path, method: :get %>
    </div>
<% end %>