<div class="container mt-3">
  <div class="row justify-content-center align-items-center">
    <h2 class="col-8">Log in</h2>
  </div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="container vstack gap-3 mt-3">

    <div class="row g-3 justify-content-center align-items-center">
      <div class="col-sm-3">
        <%= f.label :login, class: "col-form-label" %>
      </div>
      <div class="col-sm-5">
        <%= f.text_field :login, autofocus: true, class: "form-control" %>
      </div>
    </div>

    <div class="row g-3 justify-content-center align-items-center">
      <div class="col-sm-3">
        <%= f.label :password, class: "col-form-label" %>
      </div>
      <div class="col-sm-5">
        <%= f.password_field :password, class: "form-control" %>
      </div>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="row g-3 justify-content-center align-items-center">
        <div class="col-sm-3">
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>  
        <div class="col-sm-5">
          <%= f.check_box :remember_me, class: "form-check-input" %>
        </div>
      </div>
    <% end %>

    <div class="row g-3 justify-content-center align-items-center">
      <div class="col-sm-8">
        <%= f.submit "Log in", class: "btn btn-primary" %>
      </div>  
    </div>
<% end %>
    <div class="row g-3 justify-content-center align-items-center">
      <div class="col-sm-8">
        <div class="vstack gap-1">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>

  </div>