<h2>
    Your Posts
</h2>

<div>
    <ul>
        <li>
            <%= link_to "Open", posts_path(status: "open") %>
        </li>
        <li>
            <%= link_to "Closed", posts_path(status: "closed") %>
        </li>
    </ul>
<div>

<% unless params[:status] == "closed" %>
    <% if user_signed_in? %>
        <h4>Create new post</h4>
        <%= render "form", post: Post.new %>
    <% end %>
<% end %>

<h4>Search for post:</h4>
<%= form_with(url: posts_path, method: "GET", data: { controller: "form-submission", turbo_frame: "posts", turbo_action: "advance" }) do |form| %>
  <%= form.label :query, "Search:" %>
  <%= form.text_field :query, data: { action: "input->form-submission#search" } %>
<% end %>
    
<%= turbo_frame_tag "posts" do %>
    <%= render @posts, user: current_user %>
<% end %>

<%= turbo_stream_from "posts_channel" %>