<h2>
    Your Posts
</h2>

<div>
    <ul>
        <li>
            <%= link_to "Open", posts_path(status: "open") %>
        </li>
        <li>
            <%= link_to "Closed", posts_path(status: "closed") %>
        </li>
    </ul>
<div>

<% unless params[:status] == "closed" %>
    <% if user_signed_in? %>
        <%= render "form", post: Post.new %>
    <% end %>
<% end %>
    
<%= turbo_frame_tag "posts" do %>
    <%= render @posts, user: current_user %>
<% end %>

<%= turbo_stream_from "posts_channel" %>