<header>
    <nav>
        <%= link_to "Home", root_path %>
        <%= link_to "About", about_path %>
        <%= link_to "Drugs database", drugs_path %>
        <%= link_to "Workplace", workplaces_path %>
        <ul>
           
            <%= render "layouts/settings" %>
            
        </ul>
    </nav>
</header>